<% provide(:title, "Авторизация") %>

<div class="container">
	<div class="container-signin">
		<div class="row">
			<div class="span5">
				<%= form_for(:session, url: sessions_path, html: {class: "form-signin"}) do |f| %>
				<%= image_tag("logo.png", style: "padding-bottom: 10px", width: "200px") %>
				<div class="control-group">
					<%= f.text_field :name, placeholder: "Имя пользователя", class: "input-block-level" %>
					<%= f.password_field :password, placeholder: "Пароль", class: "input-block-level" %>
					<%= f.submit "Вход", class: "btn btn-block" %>
				</div>
				<% end %>
			</div>
			<div class="span4">
				<h2>Портал XADO<br>позволяет вести учет нефтепродуктов корпорации</h2>
				<p>Вы можете авторизоваться, используя Вашу учетную запись. Или обратиться в службу поддержки для предоставления доступа.</p>
			</div>
		</div>
	</div>
</div>